body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: blue;
    display: flex;
    flex-direction: column;
}
.trueheader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
}
#logo {
    align-self: flex-start;
    flex-grow: 2;
}
.headtwo { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Title {
    align-self: flex-start;
}
.ImageT {
    align-self: flex-end;
}

.two {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.two h1 {
    margin: 50px 20px 40px 20px;
}
.rowpics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rowpics img {
    margin: 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: 40px;
}
.para {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 230px;
}
.para p {
    margin-top: 30px;
    max-width: 120px;
}
.three {
    background-color: grey;
    height: fit-content;
    padding: 80px 10px;
    text-align: center;
}
#person {
    position: relative;
    left: 300px;
}

.footer {
    display: flex;
    justify-content: center;
    width: 600px;
    text-align: center;
    border-radius: 20px;
    padding: 10px 150px;
    margin: 50px auto;
    background-clip: padding-box;
    background-color: blue;
}