body {
    display: flex;
    flex-direction: column;
}
.header {
    background-color: blue;
    flex-grow: 2;
}
.trueheader {
    display: flex;
}
.two {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.rowpics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
}
.three {
    background-color: grey;
    height: fit-content;
    padding: 80px 10px;
    text-align: center;
}
.footer {
    padding: 40px 10px;
    margin: auto;
}